body {
    background-color: #bbfae9;
    font-family: 'ocr a';
    font-size: 3.4rem;
    color: #662cfa;
}
.selecao1 select {
    width: auto;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.5rem;
    color: white;
    font-family: 'ocr a';
    background-color: rgba(49, 49, 182, 0.801);
    appearance: none; /* Remove a aparência padrão do select em alguns navegadores */
    -webkit-appearance: none; /* Remove a aparência padrão do select no Safari */
}
#titulo{
    margin-left: 0.5rem;
}
.selecao1 {
    margin-top: 2rem;
    margin-left: 3.8rem;
}
#para{
    margin: 3.8rem;
}
.resultado {
    margin: 4rem;
}

.resultado input{
    background-color: rgb(167, 167, 255);
    width: 13rem;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    font-size: 2rem;
    color: white;
    font-family: 'ocr a';
}

#coiso{
    font-size: 4rem;
    margin-left: 6.5rem;
    font-family: 'ocr a';
}

#printar{
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: rgba(49, 49, 182, 0.801); 
    height: 4.5rem;
    width: 20rem;
    font-family: 'ocr a';
    margin-left: 1.8rem;
}
